button{
    font-size: 20px;
    display: block;
    margin-top: 30px;
    margin-left: 70px;
}
.search{
    color:aqua;
    width: 100px;
    border-color: aqua;
    border-radius: 10px;
    background-color: white;
}
.plus{
    color:white;
    background-color: rgb(18, 222, 222);
    border-color: rgb(18, 222, 222);
    border-radius: 15px;
}
.account{
    color: white;
    background-color: blue;
}