*{
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}
.btn{
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px 2px black;
    cursor: pointer;
}
.list{
    height: 320px;
    width: 200px;
    border: 2px solid #85FFBD;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    padding: 5px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img{
    height: 50px;
}
.element{
    margin-top: 10px;
    margin-bottom: 15px;
}
