*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 50px;
    height: 670px;
    width: 900px;
    outline: 1px solid red;
}
.nav{
    background-color: aqua;
    height: 100px;
    width: 100%;
}
.up{
    display: flex;
    margin-top: 10px;
    height: 426px;
    width: 100%;
    /* background-color: brown; */
}
.user{
    height: 415px;
    margin-right: 20px;
    width: 504px;
    background-color: blueviolet;
}
.col-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 533px;
    width: 338px;
    /* background-color: chartreuse; */
}
.connection{
    height: 170px;
    background-color: crimson;
}
.your{
    height: 330px;
    background-color: black;
}
.down{
    display: flex;
    width: 100%;
    height: 163px;
    /* background-color: blue; */
}
.education{
    height: 134px;
    width: 504px;
    margin-right: 20px;
    background-color: coral;
}