#main{
    width: 1080px;
    height: 860px;
    margin-left: 170px;
}
/* navbar CSS starts here */
.nav{
    display: flex;
    width: 100%;
    height: 70px;
    background-color:black;
}
.nav-title{
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin-left: 150px;
}
.nav-links{
    color: white;
    display: flex;
    align-items:center;
}
li{
    display: inline-block;
    margin-right: 30px;
}
.btn{
    margin-left: 100px;
    width: 90px;
    padding: 5px;
    background-color:aqua;
}
/* user card CSS starts here */
.user-card {
    height: 400px;
    width: 550px;
    background-color: white;
    border: 3px solid lightgray;
}
.banner{
    background-color: rgb(31, 183, 183);
    height: 115px;
    width: 100%;
}
.user{
    width: 150px;
    height: 150px;
    padding: 38px;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 231px;
    width: 496px;
    margin: 48px;
}
.name, .city{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.spot{
    height: 15px;
    width: 10px;
    margin-right: 15px;
}
.gear{
    height: 10px;
    width: 10px;
    margin-right: 10px;
}
/* education card starts here */
.education-card {
    height: 200px;
    width: 550px;
}
.head{
    height: 55px;
    width: 100%;
    background-color: rgb(106, 99, 99);
    display: flex;
    align-items: center;
}
.h2-title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}
.foot-text{
    height: 100%;
    border: 3px solid rgb(190, 190, 190);
    padding-left: 30px;
}
/* connection-request starts here */
.connection-request {
    height: 200px;
    width: 320px;
}
.head-request{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(106, 99, 99);
}
.number2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 3px;
    border-radius: 50%;
    background-color: lightgray;
    height: 30px;
    width: 30px;
}
#title-up{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.foot-request{
    width: 100%;
    height: 165px;
}
.todd-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid lightgray;
}
.todd{
    margin: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.phill-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid lightgray;
}
.phill{
    margin: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.check{
    height: 35px;
    width: 35px;
}

/* your connections CSS starts here */
.your-connections {
    height: 381px;
    width: 320px;
border: 3px solid lightgray;
}
.head-your{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgb(106, 99, 99);
}
.div500{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 37px;
    width: 55px;
    margin: 14px;            
}
#title-down{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.foot-your{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 310px;
    width: 30%;
    /* border: 1px solid lightgray; */
}
.adrien{
    margin: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.anne{
    margin: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.alayne{
    margin: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.arry{
    margin: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.div2-names{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 37px;
    left: 136px;
    height: 310px;
    width: 224px;
    /* border: 1px solid lightgray; */
}
.bottom-your{
    position: relative;
    right: 3px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    height: 50px;
    width: 93%;
    border: 3px solid lightgray;
}
/* main containers dividing page on half */
.content{
    height: 790px;
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom:790px;
    left: 680px;
    height: 790px;
    width: 400px;
}
