#dojo{
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    width: 800px;
    height: 900px;
    background-color:lightgrey;
    margin-left: 25%;
}    
img{
    height: 200px;
}
.git{
    text-align:center;
    font-size: 25px;
}
.first{
    background-color: rgb(83, 129, 221);
    text-align:center;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
.second{
    background-color: rgb(39, 16, 16);
    text-align:center;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
}
.third{
    background-color: bisque;
    text-align:center;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content:space-around;
    padding: 20px;
}